<h1>THIS IS HOME PAGE</h1>

<h1>this will show all of the data/tasks</h1>

  <%= @name %>
  <%= @description %>
  <%= @completed_date %>


    <% @current_task_display.each do |task| %>
        <%= task %>
    <% end %>

<pre>
  <%= params %>
</pre>
